
.sqlHome-container {
  display: grid;
  grid-template-columns: 14rem 1fr 14rem;
  font-size: 1.1rem;
}

.sqlHome-container >* hr {
  border-top: 1px solid #eee;
}


@media only screen and (max-width: 480px) {
  .sqlHome-container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.1rem;
  }

  .sqlHome-container > .sideLeft-container {
    display: none;
  }

  .sqlHome-container >* .sqlHome-info-exercises-inner-item-container > .sqlHome-info-exerciser-inner-item-a  {
    padding: 0px;
  }
}

@media(max-width: 768px) and (min-width: 480px) and (orientation: landscape) {
  .sqlHome-container {
    display: grid;
    grid-template-columns: 14rem 1fr;
  }
  .sqlHome-container >* .sqlHome-info-exercises-inner-item-container > .sqlHome-info-exerciser-inner-item-a  {
    padding: 0px;
  }
}